@media only screen and (max-width:768px) {
    .MuiTableContainer-root {
        width: fit-content !important;
        height: 35.6rem  !important;
    }
    .box {
        height: fit-content !important;
    }
    .css-rqglhn-MuiTable-root {
        height: 35.6rem  !important;
    }

}

@media only screen and (max-width: 480px) {
    .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
        width: fit-content !important;
        height: 55.6rem !important;
    }
    .box {
        height: fit-content !important;
    }
    .css-rqglhn-MuiTable-root {
        height: 55.6rem !important;
    }
}