/* @media only screen and (max-width:728px) {

    .MuiTableContainer-root {
        width: fit-content !important;
        height: 119rem !important;
    }
    .box {
        height: fit-content !important;
    }
    .css-rqglhn-MuiTable-root {
        height: 118.6rem !important;
    }

    table{
        height: 118rem !important;

    }
} */

@media only screen and (max-width: 400px) {

    .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
        width: fit-content !important;
        height: 119rem !important;
    }
    .box{
        height: fit-content !important;
    }
    .css-rqglhn-MuiTable-root {
        height: 118.6rem !important;
    }
}