h1 {
    font-family: monospace;
    color: rgb(6, 90, 175);
    font-size: xxx-large;
}

table {
    text-align: -webkit-center;
    border: 1px solid black;
    border-collapse: collapse;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #213fa0;
    text-decoration: none;
}

.MuiTableCell-head {
    font-family: monospace !important;
    color: rgb(255, 255, 255) !important
}

thead {
    background-color: rgb(71, 87, 94);
}

tbody:nth-child(odd) {
    background-color: rgb(241, 241, 241);
}

tbody:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

.round-pic {
    border: 1px solid white;
    border-radius: 29px;
}

.pagination-controlers {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.MuiTableContainer-root {
    background-color: rgb(231, 244, 254) !important;
}

.all-users-style {
    box-shadow: 5px 8px red !important;
}

.page-container {
    width: fit-content;
}

.sort {
    cursor: pointer;
}
/* 
.table-container {
    min-width: 980px;
    height: '75vh';
    width: '80vw';
} */

.red-text {
    font-size: 10em;
    color: red;
}


/* .MuiTableContainer-root {
    width: fit-content !important;
    height: 119rem !important;
}
.box {
    height: fit-content !important;
}
.css-rqglhn-MuiTable-root {
    height: 118.6rem !important;
}

table{
    height: 118rem !important;

} */
